.contact-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

.contact-container h1 {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}

.contact-container p {
  text-align: center;
  color: #555;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #007bff;
}

.contact-form button {
  background-color: #007bff;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}

.contact-info {
  margin-top: 30px;
  text-align: center;
  color: #333;
}

.contact-info h3 {
  margin-bottom: 10px;
  color: #333;
}

.contact-info p {
  margin: 4px 0;
}

p a{
    color: #555;
    text-decoration: none;
}

.social-links nav ul   {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 10px;
  gap: 25px;
}
.follow-us {
  font-size: 23px;
  color: #3b3b3b;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
.social-links a {
  color: #007bff;
  text-decoration: none;
}
.social-links a:hover {
  text-decoration: underline;
  color: #136dce;
 
}