.detail-page {
  display: flex;
  gap: 20px;
  margin: 20px;
}


.detail-left {
  width: 400px;
  height: 300px;
  position: relative;
  border: 1px solid #ddd;
}

.detail-img {
  width: 350px;
  height: 320px;

  
  
}

.detail-right {
  flex: 1.2;
}

.detail-right h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.detail-right .desc {
  font-size: 25px;
  
  color: #1f1b1b;

  margin-bottom: 15px;
}


.buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}





.btn-buy {
  background-color: #fa7c15;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.btn-buy:hover {
  background-color: #d86d09;
}

@media (max-width: 768px) {
  .detail-page {
    flex-direction: column;
    align-items: center;
  }

  .detail-left, .detail-right {
    width: 100%;
  }


}

.dell a {
  color: rgb(37, 190, 237);
  font-size: 15px;
  text-decoration: none;
}
.dell a:hover {
  text-decoration: underline;
  color: rgb(20, 158, 238);
}
.brand {
  font-size: 20px;
  margin-bottom: 10px;
}

.zoom-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  height: auto;
  border: 1px solid #ddd;
}

/* Responsive adjustments */


.lens {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid #5e5959b0;
  background-color: rgba(255, 255, 255, 0.3);

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Center me Plus Icon */
.lens::after {
  content: "+";
  font-size: 24px;
  font-weight: bold;
  color: #000;
  pointer-events: calc("+" * 0.5);
}

.zoom-result {
  width: 1000px;
  height: 400px;
  border: 1px solid #ccc;
  background-repeat: no-repeat;
  background-color: #fff;
}

.detail-right {
  flex: 1;
  min-width: 300px;
}

.buttons .btn-buy {
  padding: 10px 20px;
  background-color: #e7af36;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.rating b{
  font-size: 15px;
  margin-top: 10px;

}
.rating i{
  color: #ffa41c;
  margin-left: 5px;
}