.detail-page {
  display: flex;
  gap: 40px;
  padding: 20px;
  align-items: flex-start;
}

.detail-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-img {
  max-width: 100%;
  max-height: 400px;
  
  object-fit: contain;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background: #fff;
}

.detail-right {
  flex: 1.2;
}

.detail-right h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.detail-right .desc {
  font-size: 25px;
  
  color: #1f1b1b;

  margin-bottom: 15px;
}


.buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}





.btn-buy {
  background-color: #ffa41c;
  border: none;
  padding: 13px 23px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

.btn-buy:hover {
  background-color: #e9981f;
}

@media (max-width: 768px) {
  .detail-page {
    flex-direction: column;
    align-items: center;
  }

  .detail-left, .detail-right {
    width: 100%;
  }

  .detail-img {
    max-height: 300px;
  }
}

.dell a {
  color: rgb(37, 190, 237);
  font-size: 20px;
  text-decoration: none;
}
.dell a:hover {
  text-decoration: underline;
  color: rgb(20, 158, 238);
}
.brand {
  font-size: 20px;
  margin-bottom: 10px;
}

.zoom-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  height: auto;
  border: 1px solid #ddd;
}

/* Responsive adjustments */

.detail-page {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
}

.detail-left {
  flex: 1;
  position: relative;
  max-width: 400px;
}

.detail-img {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #ccc;
}

.lens {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid #524d4d;
  background-color: rgba(255, 255, 255, 0.4);
  pointer-events: none;
}

.zoom-result {
  flex: 1;
  width: 400px;
  height: 400px;
  border: 1px solid #ccc;
  background-repeat: no-repeat;
  background-size: 200%; /* Controls zoom level */
  margin-left: 20px;
}

.detail-right {
  flex: 1;
  min-width: 300px;
}

.buttons .btn-buy {
  padding: 10px 20px;
  background-color: #e7af36;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
