.detail-page {
  display: flex;
  padding: 20px;
  gap: 30px;
  margin-left: 250px;
}

.detail-left {
  position: relative;

}

.thumbnail-row {
  display: flex;
  margin-top: 10px;
  gap: 10px;
  flex-wrap: wrap;
}

.thumbnail-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border 0.2s;
}

.thumbnail-img:hover {
  border: 2px solid #197a05;
}



.detail-img {
  width: 120%;
  height: 350px;
  margin-top: 15px;

}

.lens {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid #999;
  background-color: rgba(255, 255, 255, 0.3);
  pointer-events: none; /* Prevent mouse events on lens */
}


.zoom-result {
  width: 400px;
  height: 400px;
  border: 1px solid #ddd;
  background-repeat: no-repeat;
  margin-left: 20px;
}


.detail-right {
  max-width: 500px;
  
  padding: 40px;
  margin-left: 170px;
  font-size: 25px;
}

.dell{
  font-size: 12px;
  color: black;
  
}

.laps a{
  color: green;
}

.rating i {
  color: orange;
}

.btn-buy {
  background-color: rgb(7, 108, 7);
  color: white;
  padding: 7px 15px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 3px;
}
.btn-buy:hover {
  background-color: #186906;
}
.dell a{
  color: rgb(75, 124, 230);
  font-size: small;
}

@media (max-width: 900px) {
  .detail-page {
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
  }
  .detail-left, .zoom-result {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  .detail-right {
    max-width: 100%;
    padding: 0 10px;
    
  }
}
.desc{
  color: black;
  font-weight: bold;
  
  
}
/* .unit h2{
  font-weight: 500;
}
.ram{
  border: 1px solid green;
 
  display: flex;

  margin-top: 10px;
  border-radius: 5px;
  height: 100px;
  width: 150px;
}

.ram h3{
  color: black;
  font-weight: 500;
  text-align: center;
  padding-top: 25px;
} */

.cpu-options {
  display: flex;
  gap: 10px; /* Space between the boxes */
  flex-wrap: wrap; /* Optional: wrap on smaller screens */
   

}
.ram button{
  width: 130px;
  height: 80px;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  font-weight: bold;
  text-align: center;
  border: 1px solid green;
   background-color: #eaf7e9;
   border-radius: 5px;
}
