.detail-page {
  display: flex;
  gap: 40px;
  padding: 20px;
  align-items: flex-start;
}

.detail-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-img {
  max-width: 100%;
  max-height: 400px;
  
  object-fit: contain;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background: #fff;
}

.detail-right {
  flex: 1.2;
}

.detail-right h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.detail-right .desc {
  font-size: 25px;
  
  color: #1f1b1b;

  margin-bottom: 15px;
}


.buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}





.btn-buy {
  background-color: #ffa41c;
  border: none;
  padding: 13px 23px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

.btn-buy:hover {
  background-color: #e9981f;
}

@media (max-width: 768px) {
  .detail-page {
    flex-direction: column;
    align-items: center;
  }

  .detail-left, .detail-right {
    width: 100%;
  }

  .detail-img {
    max-height: 300px;
  }
}

.dell a {
  color: rgb(37, 190, 237);
  font-size: 20px;
  text-decoration: none;
}
.dell a:hover {
  text-decoration: underline;
  color: rgb(20, 158, 238);
}