.container {
  display: flex;
  gap: 40px;
  padding: 40px 60px;
  background: #fff;
  font-family: "Segoe UI", sans-serif;
}

.page-left {
  width: 50%;
}

.main-image {
  width: 90%;
  border-radius: 8px;
  object-fit: fill;
  border: 1px solid #eee;
  height: 450px;
}

.thumbnail-row {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.thumb {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  border: 1px solid #ccc;
  object-fit: cover;
  cursor: pointer;
  transition: 0.2s ease;
  
}
.thumb:hover {
  border: 1px solid  #3498db;
  transform: scale(1.1);
}

.product-meta {
  margin-top: 30px;
}

.gray {
  color: #777;
  margin-top: 2px;
}

.toggle-link {
  color:  #3498db;
  cursor: pointer;
  margin-top: 8px;
  font-weight: bold;
  font-size: 14px;
}

.meta-details p {
  font-size: 14px;
  margin: 5px 0;
}

/* Right Panel */
.page-right {
  width: 50%;
  
  
}

.breadcrumb {
  font-size: 12px;
  color: #999;
  margin-bottom: 8px;
}

.breadcrumb a {
  color: #999;
  text-decoration: none;
} 

.breadcrumb a:hover {
  color:  #3498db;
}

.product-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}

.sponsored {
  font-size: 13px;
  color: gray;
  margin-bottom: 10px;
}

.brand-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 8px;
}

.brand-icon {
  width: 20px;
  height: 20px;
}

.green-link {
  color:  #3498db;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.price-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

.discounted {
  font-size: 22px;
  font-weight: bold;
  color: #1c1c1c;
}

.mrp {
  text-decoration: line-through;
  font-size: 14px;
  color: #777;
}

.badge {
  background: #e0f3e0;
  color: #3498db;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 4px;
}

.buy-btn {
  background:  #3498db;
  color: white;
  padding: 12px;
  width: 160px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.buy-btn:hover {
  background: #1c5980;
}

.why-shop {
  margin-top: 30px;
  font-size: 10px;
}

.why-shop h4 {
  font-size: 16px;
  margin-bottom: 12px;
}

.why-shop ul {
  list-style: none;
  padding: 0;
  
}

.why-shop li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  
  
}
.brand-para {
  font-size: 14px;
  color: #333;
  font-weight: 750;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }
  
  .page-left, .page-right {
    width: 100%;
  }

  .thumbnail-row {
    margin-left: 25px;
    object-fit: cover;
  }
  
  .main-image {
    width: 100%;
    height: auto;
  }

    .zoom-result, .lens {
      display: none !important;
      
    }
  
}
  
 
  

