/* Detail.css */

/* Base container */
.detail-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

/* Title */
.detail-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  
}

/* Info section */
.detail-info {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  color: #423f3f;
}



.detail-info p {
  margin: 0.5rem 0;
  line-height: 1rem;
  
}

/* Image */
.detail-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  align-items: center;
}

.detail-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.detail-image:hover {
  transform: scale(1.03);
}

.btn{
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: -2rem;
}
.btn:hover {
  background-color: #1d6fc6;
}

/* Responsive design */
@media (max-width: 768px) {
  .detail-title {
    font-size: 1.5rem;
  }

  .detail-info {
    font-size: 1rem;
  }

  .detail-image {
    max-width: 70%;
  }
}
