.detail-page {
  display: flex;
  padding: 20px;
  gap: 30px;
  margin-left: 50px;
}

.detail-left {
  position: relative;
  width: 400px; 
}

.thumbnail-row {
  display: flex;
  margin-top: 10px;
  gap: 10px;
  flex-wrap: wrap;
}

.thumbnail-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border 0.2s;
}

.thumbnail-img:hover {
  border: 2px solid #007bff;
}



.detail-img {
  width: 100%;
  height: 250px;
  margin-top: 15px;
}

.lens {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  background-color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}

.zoom-result {
  width: 800px;
  height: 400px;
  border: 1px solid #ccc;
  background-repeat: no-repeat;
}

.detail-right {
  max-width: 800px;

}

.rating i {
  color: orange;
}

.btn-buy {
  background-color: #1e53c5;
  color: white;
  padding: 7px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 3px;
}
.btn-buy:hover {
  background-color: #003cb3;
}
.dell a{
  color: rgb(75, 124, 230);
  font-size: small;
}

@media (max-width: 900px) {
  .detail-page {
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
  }
  .detail-left, .zoom-result {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  .detail-right {
    max-width: 100%;
    padding: 0 10px;
  }
}
.desc{
  color: black;
  font-weight: bold;
  
}